@page {
    size: a4 portrait;
    margin: 2cm 3cm;
}

html {
    font-family: serif;
    font-size: 12pt;
    line-height: 18pt;
    background: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

section, main {
    display: block;
    margin: 0;
    padding: 0;
}

header, footer { display: none; }
b, strong { font-weight: 600; }
big, .big { font-size: 15pt; }
small, .small { font-size: 10pt; }

p, ul, ol, blockquote, hr {
    margin: 1.5rem 0 0 0;
    padding: 0;
}
h1, h2 {
    margin: 3rem 0 0 0;
    font-weight: normal;
}

h1 { font-size: 18pt; }
h2 { font-size: 15pt; }

hr {
    text-align: center;
    color: inherit;
    border: none;
    font-family: monospace;
    &:before {
        content: "* * *";
    }
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0.25pt solid #000;
}
