// Colors
$background: #f4ecd8;
$tint: #000; // main text color
$red: #cf5044;
$dim: rgba($tint, 50%);
$link_normal: #236b8e;
$link_visited: #644172;

html { font-size: 16px; }
@media screen and (min-width: 720px)  { html { font-size: 18px; } }
@media screen and (min-width: 1024px) { html { font-size: 20px; } }
@media screen and (min-width: 1280px) { html { font-size: 24px; } }
@media screen and (min-width: 1920px) { html { font-size: 26px; } }

html {
    margin: 0;
    padding: 1.5rem 0.75rem;

    border-top: 10px solid $red;
    background: $background;
    color: $tint;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 34em;
    text-rendering: optimizeLegibility;
    line-height: 1.5rem;
}

section, main, header, footer { display: block; }

main {
    margin: 3rem 0 4.5rem 0;
    padding: 0;
}

footer {
    margin: 0;
    padding: 0;
    text-align: center;
}

p {
    padding: 0;
    margin: 1.5rem 0;
}

/*
https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_links#styling_some_links
A sorrend fontos:
    a
    a:link
    a:visited
    a:focus
    a:hover
    a:active
*/
a {
    text-decoration: underline;

    &:link {
        color: $link_normal;
    }
    &:visited {
        color: $link_visited;
    }
    &:focus {}
    &:hover {}
    &:active {}
}
a.nav {
    text-decoration: none;
    color: $tint;
    border-bottom: 4px solid $red;

    &:visited {
        color: $tint;
    }
    &:hover {
        color: $background;
        background: $red;
    }
}

h1 { font-size: 1.5rem; line-height: 2.25rem; }
h2 { font-size: 1.25rem; }
h1, h2 {
    font-weight: normal;
    margin: 3rem 0 1.5rem 0;
    padding: 0;
}

header {
    margin: 0;//-1.5rem -1.5rem 3rem -1.5rem;
    padding: 0;
}
h1.site-title {
    font-size: 2rem;
    line-height: 1;
}

small, .small { font-size: 0.8em; }
big, .big { font-size: 1.25em; }

.date { color: $dim; }

hr {
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
    &:after {
        content: "* * *";
    }
}

blockquote {
    margin: 1.5rem 0;
    padding: 0 0 0 0.75rem;
    border-left: 0.25em solid rgba(#000, 25%);
    /*
    font-style: italic;
    & i, & em {
        font-style: normal;
    }
    */
}

ul.posts {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0 0 0 1.5rem;
        text-indent: -1.5rem;
    }
    a { text-decoration: none; }
    a:hover { text-decoration: underline; }
}
