{% extends "base.html" %}

{% block title %}Szabadulás{% endblock %}

{% block header %}
    <header>
        <h1 class="site-title">Szabadulás</h1>
    </header>
{% endblock %}

{% block content -%}
    <main>

        {% set MONTHS = [ "", "januárja", "februárja", "márciusa", "áprilisa", "májusa", "júniusa", "júliusa", "augusztusa", "szeptembere", "októbere", "novembere", "decembere"] %}
        {% for year, year_posts in section.pages | group_by(attribute="year") %}
            {% if year != "2000" %}
                <ul class="posts">
                {% for month, posts in year_posts | group_by(attribute="month") %}
                    {# <h2>{{ year }} {{ MONTHS[month] }}</h2> #}
                    {# <ul class="posts"> #}
                        {% for post in posts %}
                            <li>
                                <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
                                <span class="gap">&nbsp;</span>
                                <small class="date" title="{{ post.date | date(format='%Y. %m. %d.') }}">{{ post.date | date(format="(%Y. %m. %d.)") }}</small>
                            </li>
                        {% endfor %}
                    {# </ul> #}
                {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}

        {{ section.content | safe }}
    </main>

{% endblock content %}
