{% extends "base-page.html" %}

{% block footer -%}
    <footer>
        <ul>
        <li class="prev">
            {% if page.higher %}
                <a href="{{ page.higher.permalink | safe }}" title="{{ page.higher.title }} ({{ page.higher.date | date(format="%Y. %m. %d.") }})">←&nbsp;Előző</a>
            {% endif %}
        </li>
        <li class="mainpage"><a href="/">↑&nbsp;Főoldal</a></li>
        <li class="next">
            {% if page.lower %}
                <a href="{{ page.lower.permalink | safe }}" title="{{ page.lower.title }} ({{ page.lower.date | date(format="%Y. %m. %d.") }})">→&nbsp;Következő</a>
            {% endif %}
        </li>
        </ul>
    </footer>
{%- endblock content %}
