{% extends "base.html" %}
{% import "macros/macros.html" as macros %}

{% block title %}{{ page.title }}{% endblock %}

{% block content -%}
    <header>
        <h1 class="site-title">
            <a class="nav" href="/" title="Főoldal">Szabadulás</a>
        </h1>
    </header>

    <main>
        <h1 class="title">{{ page.title }}</h1>
        {{ page.content | safe }}
        {% if not page.extra.hide_date %}
            <p class="date">
                {{ macros::hudate(ts=page.date) }}
            </p>
        {% endif %}
    </main>

    <footer>
        <p><a class="nav" href="/">↑&nbsp;Főoldal</a></p>
    </footer>
{%- endblock content %}
