{% extends "base.html" %}
{% import "macros/macros.html" as macros %}

{% block title %}{{ page.title }}{% endblock %}

{% block content -%}
    <header>
        <nav>
            <a href="/" title="Ugrás a főoldalra">Szabadulás</a>
        </nav>
    </header>

    <main>
        <h1 class="title">{{ page.title }}</h1>
        {{ page.content | safe }}
        {% if not page.extra.hide_date %}
            <p class="date">
                {{ macros::hudate(ts=page.date) }}
            </p>
        {% endif %}
    </main>

    <footer>
        <ul>
        <li class="prev">
            {% if page.higher %}
                <a href="{{ page.higher.permalink | safe }}" title="{{ page.higher.title }} ({{ page.higher.date | date(format="%Y. %m. %d.") }})">←&nbsp;Előző</a>
            {% endif %}
        </li>
        <li class="mainpage"><a href="/">↑&nbsp;Főoldal</a></li>
        <li class="next">
            {% if page.lower %}
                <a href="{{ page.lower.permalink | safe }}" title="{{ page.lower.title }} ({{ page.lower.date | date(format="%Y. %m. %d.") }})">→&nbsp;Következő</a>
            {% endif %}
        </li>
        </ul>
    </footer>
{%- endblock content %}
